<div class="flex justify-center items-center bg-yellow-500 min-h-screen" >
	<div class="lg:w-2/3 md:w-1/2 w-full mx-4 my-8">
	  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="bg-white p-6 md:p-10 rounded-lg shadow-lg">
		<h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Actualizar perfil.</h1>
		
  
		<div>
		  <label class="text-gray-800 font-semibold block my-3 text-md" for="rut">Nombre</label>
		  <input formControlName="Name" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" id="rut" placeholder="12345678-9" />
		  <div *ngIf="isInvalid('Name')" class="text-red-500 text-sm mt-1">Ingrese un nombre valido</div>
		</div>
		<div>
		  <label class="text-gray-800 font-semibold block my-3 text-md" for="Birthday">Fecha de nacimiento</label>
		  <input formControlName="Birthday" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="date" id="Birthday" />
		  <div *ngIf="isInvalid('Birthday')" class="text-red-500 text-sm mt-1">Ingrese una fecha de nacimiento valida</div>
		</div>
  
		<div>
		  <label class="text-gray-800 font-semibold block my-3 text-md" for="generId">Género</label>
		  <select id="options" formControlName="GenderId" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none">
			<option *ngFor="let option of generd" [value]="generd.indexOf(option) + 1">{{ option }}</option>
		  </select>
		  <div *ngIf="isInvalid('GenderId')" class="text-red-500 text-sm mt-1">Seleccione un género</div>

		</div>
  
		<button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Registrar</button>
		<button (click)="backToHome()" type="button" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Volver</button>
	  </form>
	</div>
	
  </div>
 
  