<div class="flex justify-center items-center bg-yellow-500 min-h-screen">
    <div class="lg:w-2/3 md:w-1/2 w-full mx-4 my-8">
      <form [formGroup]="createProduct" (ngSubmit)="onSubmit()" class="bg-white p-6 md:p-10 rounded-lg shadow-lg">
        <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Crear producto.</h1>
  
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="Name">Nombre</label>
          <input formControlName="Name" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" id="Name" placeholder="Nombre del producto" />
        </div>
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="Price">Precio</label>
          <input formControlName="Price" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" id="Price" />
        </div>
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="Stock">Stock</label>
          <input formControlName="Stock" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" id="Stock" />
        </div>
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="image">Imagen</label>
          <input type="file" id="image" (change)="onFileChange($event)" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" />
        </div>
        <div>
          <label class="text-gray-800 font-semibold block my-3 text-md" for="ProductTypeId">Tipo de Producto</label>
          <select id="ProductTypeId" formControlName="ProductTypeId" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none">
            <option *ngFor="let type of types" [value]="type.id">{{ type.type }}</option>
          </select>
        </div>
  
        <button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Agregar</button>
        <button (click)="backToProducts()" type="button" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Volver</button>
      </form>
    </div>
  </div>
  