<div class="flex justify-center items-center bg-yellow-500 min-h-screen" >
	<div class="lg:w-2/3 md:w-1/2 w-full mx-4 my-8">
	  <form [formGroup]="passwordFrom" (ngSubmit)="onSubmit()" class="bg-white p-6 md:p-10 rounded-lg shadow-lg">
		<h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Actualizar perfil.</h1>
  
		<div>
		  <label class="text-gray-800 font-semibold block my-3 text-md" for="rut">contraseña antigua</label>
		  <input formControlName="OldPassword" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" id="rut" placeholder="" />
		  <div *ngIf="isInvalid('OldPassword')" class="text-red-500 text-sm mt-1">Ingrese una contraseña valida</div>
		</div>
		<div>
		  <label class="text-gray-800 font-semibold block my-3 text-md" for="Birthday">Contraseña nueva</label>
		  <input formControlName="NewPassword" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="password" id="Birthday" />
		  <div *ngIf="isInvalid('NewPassword')" class="text-red-500 text-sm mt-1">Ingrese una Contraseña valida </div>
		</div>
        <div>
            <label class="text-gray-800 font-semibold block my-3 text-md" for="Birthday">Confirmar ontraseña nueva</label>
            <input formControlName="ConfirmNewPassword" class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="password" id="Birthday" />
            <div *ngIf="isInvalid('ConfirmNewPassword')" class="text-red-500 text-sm mt-1">Las constraseñas no son iguales</div>
        </div>
  
		
  
		<button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Registrar</button>
		<button (click)="backToHome()" type="button" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Volver</button>
	  </form>
	</div>
	
  </div>
 
  